extends layout

block content
  h1 #{item.title}
  
  p #[strong Category:] 
    a(href=item.category.url) #{item.category.name}
  p #[strong Description:] #{item.description}
  p #[strong Price:] $#{item.price}
  
    hr
  p
    a(href=item.url+"/delete") Delete item
  p
    a(href=item.url+"/update") Update item